In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

Incluindo códigos da aula 01 para exercitar e também para aproveitar o que já foi trabalhado no arquivo CSV.

In [4]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [5]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [6]:
df.columns =[
    'ano',
    'senioridade',
    'contrato',
    'cargo',
    'salario',
    'moeda',
    'salario_usd',
    'residencia',
    'remoto',
    'empresa',
    'porte_empresa'
]

print(df.columns)

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda',
       'salario_usd', 'residencia', 'remoto', 'empresa', 'porte_empresa'],
      dtype='object')

In [7]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,porte_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [8]:
df['senioridade'] = df['senioridade'].replace({
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
})

print(df['senioridade'].value_counts())

senioridade
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [9]:
df['porte_empresa'] = df['porte_empresa'].replace({
    'M': 'Médio',
    'L': 'Grande',
    'S': 'Pequeno'

})

print(df['porte_empresa'].value_counts())

porte_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [10]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
})

print(df['contrato'].value_counts())

contrato
Tempo Integral    132563
Contrato             394
Meio Período         376
Freelancer            16
Name: count, dtype: int64

In [11]:
df['remoto'] = df['remoto'].replace({
    0: 'Presencial',
    100: 'Remoto',
    50: 'Híbrido'
})

print(df['remoto'].value_counts())

remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [12]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,porte_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio

Aqui abaixo começa as práticas da Aula 02:

In [13]:
df.isnull()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,porte_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [14]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,porte_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio

In [15]:
df.isnull().sum()

ano              10
senioridade       0
contrato          0
cargo             0
salario           0
moeda             0
salario_usd       0
residencia        0
remoto            0
empresa           0
porte_empresa     0
dtype: int64

In [16]:
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

Abaixo estamos solicitando tudo que é null e exibindo essa dimensão (usando o axis)

In [17]:
df[df.isnull().any(axis=1)]

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,porte_empresa
5588,NaN,Sênior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Médio
59692,NaN,Pleno,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Médio
59710,NaN,Júnior,Tempo Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Médio
59759,NaN,Sênior,Tempo Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Médio
59789,NaN,Sênior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Médio
131000,NaN,Sênior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Médio
131006,NaN,Sênior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Médio
133054,NaN,Júnior,Tempo Integral,Data Scientist,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Pleno,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Pleno,Tempo Integral,Data Scientist,130000,USD,130000,US,Híbrido,US,Grande

Criação de DataFrame abaixo

In [18]:
#para colocar valores nulos
import numpy as np

#Criação de DataFrame de teste para exemplo
df_salarios = pd.DataFrame({
    'nome':  ['Ana','Bruno', 'Carlos', 'Daniele', 'Val'],
    'salario': [4000, np.nan, 5000, np.nan, 100000 ]
})

'''criando nova coluna 'salarios_media' que será preenchida a apartir do cálculo da média com base nos salários e assim preenche o que tá nulo na nova coluna'''
df_salarios['salarios_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2)) #calcula a media e arredonda
df_salarios['salarios_media'] = df_salarios['salario'].fillna(df_salarios['salario'].median()) #calcula a mediana
df_salarios

      nome   salario  salarios_media
0      Ana    4000.0          4000.0
1    Bruno       NaN          5000.0
2   Carlos    5000.0          5000.0
3  Daniele       NaN          5000.0
4      Val  100000.0        100000.0

In [19]:
df_temperaturas = pd.DataFrame({
    'Dia': ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta'],
    'Temperatura': [30, np.nan, np.nan, 28, 27]
})

#ffill preenche com valor anterior (forward fill)
df_temperaturas['preenchido_ffill'] = df_temperaturas['Temperatura'].ffill()
df_temperaturas

       Dia  Temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [20]:
df_temperaturas = pd.DataFrame({
    'Dia': ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta'],
    'Temperatura': [30, np.nan, np.nan, 28, 27]
})

#ffill preenche com o próximo valor (back)
df_temperaturas['Preenchido_bfill'] = df_temperaturas['Temperatura'].bfill()
df_temperaturas

       Dia  Temperatura  Preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [21]:
df_cidades = pd.DataFrame ({
    'Nome':  ['Ana','Bruno', 'Carlos', 'Daniele', 'Val'],
    'Cidade': ['São Paulo', np.nan, 'Curitiba', np.nan, 'Belém']

})

#Prenchimento com texto 'Não informado' onde era nulo
df_cidades['Cidade_Preenchida'] = df_cidades['Cidade'].fillna('Não informado')
df_cidades

      Nome     Cidade Cidade_Preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não informado
4      Val      Belém             Belém

Retomando o DataFrame da Aula 01 (usando método para remover campos nulos)

In [22]:
df_limpo = df.dropna()

In [23]:
df_limpo.isnull().sum()

ano              0
senioridade      0
contrato         0
cargo            0
salario          0
moeda            0
salario_usd      0
residencia       0
remoto           0
empresa          0
porte_empresa    0
dtype: int64

In [24]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,porte_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio

In [25]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ano            133339 non-null  float64
 1   senioridade    133339 non-null  object
 2   contrato       133339 non-null  object
 3   cargo          133339 non-null  object
 4   salario        133339 non-null  int64
 5   moeda          133339 non-null  object
 6   salario_usd    133339 non-null  int64
 7   residencia     133339 non-null  object
 8   remoto         133339 non-null  object
 9   empresa        133339 non-null  object
 10  porte_empresa  133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [ ]:
#atribuição de outro tipo na coluna ano
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype('int64'))

In [26]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,remoto,empresa,porte_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio